<!DOCTYPE html>

<html>
<head>
<meta name="viewport" content="width=device-width" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>部门管理</title>
<!--框架必需start-->
<script src="../../scripts/jquery/jquery-1.10.2.min.js"></script>
<link href="../../styles/font-awesome.min.css" rel="stylesheet" />
<link href="../../scripts/plugins/jquery-ui/jquery-ui.min.css"
	rel="stylesheet" />
<script src="../../scripts/plugins/jquery-ui/jquery-ui.min.js"></script>
<!--框架必需end-->
<!--bootstrap组件start-->
<link href="../../scripts/bootstrap/bootstrap.min.css" rel="stylesheet" />
<script src="../../scripts/bootstrap/bootstrap.min.js"></script>
<!--bootstrap组件end-->
<script src="../../scripts/plugins/layout/jquery.layout.js"></script>
<script src="../../scripts/plugins/datepicker/WdatePicker.js"></script>

<link href="../../scripts/plugins/jqgrid/css/jqgrid.css"
	rel="stylesheet" />
<link href="../../scripts/plugins/tree/tree.css" rel="stylesheet" />
<link href="../../scripts/plugins/datetime/pikaday.css" rel="stylesheet" />
<link href="../../styles/tencheer-ui.css" rel="stylesheet" />

<script src="../../scripts/utils/base/tencheer.base.js"></script>
<script src="../../scripts/utils/base/tencheer.base.plugin.js"></script>
<script src="../../scripts/utils/base/tencheer.old.js"></script>
<script src="../../scripts/utils/base/tencheer.base.extensions.js"></script>
<script src="../../scripts/plugins/tree/tree.js"></script>
<script src="../../scripts/plugins/validator/validator.js"></script>
<script src="../../scripts/plugins/wizard/wizard.js"></script>
<script src="../../scripts/plugins/datetime/pikaday.js"></script>
<script src="../../scripts/plugins/jqgrid/grid.locale-cn.js"></script>
<script src="../../scripts/plugins/jqgrid/jqgrid.full.js"></script>
<script src="./department_list_view.js"></script>

<style>
body {
	margin: 10px;
	margin-bottom: 0px;
	overflow: hidden;
}
</style>
</head>
<body>
	<div id="ajaxLoader"
		style="cursor: progress; position: fixed; top: -50%; left: -50%; width: 200%; height: 200%; background: #f1f1f1; z-index: 10000; overflow: hidden;">
	</div>

	<div class="titlePanel">
		<div class="title-search"></div>
		<div class="toolbar">
			<div class="btn-group">
				<a id="lr-replace" class="btn btn-default"
					onclick="tencheer.reload();"><i class="fa fa-refresh"></i>&nbsp;刷新</a>
				<a id="lr-add" class="btn btn-default" onclick="btn_add()"><i
					class="fa fa-plus"></i>&nbsp;新增</a> <a id="lr-edit"
					class="btn btn-default" onclick="btn_edit()"><i
					class="fa fa-pencil-square-o"></i>&nbsp;编辑</a>
			</div>
		</div>
	</div>
	<div class="gridPanel">
		<table id="gridTable"></table>
		<div id="gridPager"></div>
	</div>

</body>
</html>
<script>
	(function($, tencheer) {
		$(function() {
			tencheer.childInit();
		})
	})(window.jQuery, tencheer)
</script>
