<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Form</title>
    <!--框架必需start-->
    <script src="../../scripts/jquery/jquery-1.10.2.min.js"></script>
    <link href="../../styles/font-awesome.min.css" rel="stylesheet" />
    <link href="../../scripts/plugins/jquery-ui/jquery-ui.min.css" rel="stylesheet" />
    <script src="../../scripts/plugins/jquery-ui/jquery-ui.min.js"></script>
    <!--框架必需end-->
    <!--bootstrap组件start-->
    <link href="../../scripts/bootstrap/bootstrap.min.css" rel="stylesheet" />
    <link href="../../scripts/bootstrap/bootstrap.extension.css" rel="stylesheet" />
    <script src="../../scripts/bootstrap/bootstrap.min.js"></script>
    <!--bootstrap组件end-->
    <link href="../../scripts/plugins/tree/tree.css" rel="stylesheet"/>
    <link href="../../scripts/plugins/datetime/pikaday.css" rel="stylesheet"/>
    <link href="../../scripts/plugins/wizard/wizard.css" rel="stylesheet"/>
    <link href="../../styles/tencheer-ui.css" rel="stylesheet"/>

    <script src="../../scripts/utils/base/tencheer.base.js"></script>
    <script src="../../scripts/utils/base/tencheer.base.plugin.js"></script>
    <script src="../../scripts/utils/base/tencheer.old.js"></script>
    <script src="../../scripts/plugins/tree/tree.js"></script>
    <script src="../../scripts/plugins/validator/validator.js"></script>
    <script src="../../scripts/plugins/wizard/wizard.js"></script>
    <script src="../../scripts/plugins/datetime/pikaday.js"></script>
    <script src="../../scripts/plugins/jqgrid/jqgrid.full.js"></script>
    <script src="./menu_form_view.js"></script>


</head>
<body>
<form id="form1">
    <!--jqgrid表格组件start-->
    <link href="../../scripts/plugins/jqgrid/css/jqgrid.css" rel="stylesheet" />
    <script src="../../scripts/plugins/jqgrid/grid.locale-cn.js"></script>
    <script src="../../scripts/plugins/jqgrid/jqgrid.full.js"></script>
    <!--表格组件end-->
   
    <div class="widget-body">
        <div class="step-content" id="wizard-steps" style="border-left: none; border-bottom: none; border-right: none;">
            <div class="step-pane active" id="step-1" style="margin-left: 0px; margin-top: 15px; margin-right: 30px;">
                <table class="form">
                    <tr>
                        <th class="formTitle">编号<font face="宋体">*</font></th>
                        <td class="formValue">
                            <input id="menu_code" type="text" onblur="$.ExistField(this.id,'ExistAccount')" class="form-control" placeholder="请输入编号" isvalid="yes" checkexpession="NotNull" />
                        </td>
                        <th class="formTitle">名称<font face="宋体">*</font></th>
                        <td class="formValue">
                            <input id="menu_name" type="text" class="form-control" placeholder="请输入名称" isvalid="yes" checkexpession="NotNull" />
                        </td>
                    </tr>
                    <tr>
                        <th class="formTitle">上级</th>
                        <td class="formValue">
                            <div id="parent_id" type="selectTree" class="ui-select">
                            </div>
                        </td>
                        <th class="formTitle">图标</th>
                        <td class="formValue">
                            <input id="menu_icon" type="text" class="form-control" />
                            <span class="input-button" onclick="SelectIcon()" title="选取图标">...</span>
                        </td>
                    </tr>
                    <tr>
                        <th class="formTitle">目标<font face="宋体">*</font></th>
                        <td class="formValue">
                            <div id="menu_type" type="select" class="ui-select" value='iframe' isvalid="yes" errormsg="目标" checkexpession="NotNull">
                                <ul>
                                    <li data-value="iframe">导航菜单</li>
                                    <li data-value="ipage">导航页面</li>
                                </ul>
                            </div>
                        </td>
                        <th class="formTitle">排序<font face="宋体">*</font></th>
                        <td class="formValue">
                            <input id="sort_code" type="text" class="form-control" isvalid="yes" checkexpession="Num" />
                        </td>
                    </tr>
                    <tr>
                        <th class="formTitle">地址</th>
                        <td class="formValue" colspan="3">
                            <input id="url_address" type="text" class="form-control" />
                        </td>
                    </tr>
                    <tr>
                        <th class="formTitle" style="height: 37px;">选项</th>
                        <td class="formValue">
                            <div class="checkbox user-select">
                                <label>
                                    <input id="is_menu" type="checkbox" />
                                    页面
                                </label>
                                <label>
                                    <input id="enabled_mark" type="checkbox" checked="checked" />
                                    有效
                                </label>
                                <label>
                                    <input id="is_split" type="checkbox" />
                                    分割线
                                </label>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th class="formTitle" valign="top" style="padding-top: 4px;">描述
                        </th>
                        <td class="formValue" colspan="3">
                            <textarea id="remark" class="form-control" style="height: 70px;"></textarea>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="form-button" id="wizard-actions">
        <a id="btn_finish" class="btn btn-success">完成</a>
    </div>

</form>
</body>
</html>
<script>
    (function ($, tencheer) {
        $(function () {
            tencheer.childInit();
        })
    })(window.jQuery, window.tencheer)
</script>