.tdhead {
	padding: 0;
	font-size: 14px;
	border: 1px solid;
	border-radius: 5px 5px 0px 0px;
	background-color: rgb(60, 141, 188);
	text-align: -webkit-center;
	height: 20px;
}

.td.class {
	font-size: 14px;
	border: 1px solid;
	border-color: #3C8DBC;
	border-radius: 5px 5px 0px 0px
}

.hr.class {
	height: 2px;
	border: none;
	border-top: 2px dotted #185598;
}