<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>模版管理</title>
<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
<link rel="stylesheet"href="../../../jslib/leanway/loader_datatables.css">
<!-- ztree -->
<link href="../../../jslib/zTree/css/zTreeStyle/zTree.css" rel="stylesheet" type="text/css"/>


<style type="text/css">div#treeMenu {
	position: absolute;
	visibility: hidden;
	background-color: #555;
	text-align: left;
	padding: 2px;
}

div#treeMenu ul li {
	margin: 1px 0;
	padding: 0 5px;
	cursor: pointer;
	list-style: none outside none;
	background-color: #DFDFDF;
}

table th {
    white-space: nowrap;
}

table td {
    white-space: nowrap;
}

.ztree-wrap {height:500px; overflow:auto;}
</style>
</head>
<body class="hold-transition skin-blue-light sidebar-mini">

	<section class="content">

		<div class="col-sm-6">
			<div class="box box-primary">
				<div class="box-header with-border">
					<h3 class="box-title">模版列表</h3>
					<div class="btn-group" role="group" aria-label="..."  id="btn-group">
					  <button type="button" class="btn btn-default btn-xs" onclick="addTemplateCatlate()"><i class="fa fa-plus"></i> 新增</button>
					  <button type="button" class="btn btn-default btn-xs" onclick="updateTemplateCatlate()"><i class="fa fa-edit"></i> 修改</button>
					  <div class="btn-group">
			      		<button aria-expanded="false" aria-haspopup="true" data-toggle="dropdown" class="btn btn-default btn-xs dropdown-toggle" type="button" id="deleteFun"><i class="fa fa-times"></i> 删除 <span class="caret"></span></button>
			     			<ul class="dropdown-menu">
						        <li><a onclick="deleteTemplate(1)" id="deleteCurrentFun">当前选中数据</a></li>
			      			    <li><a onclick="deleteTemplate(2)" id="deleteAllFun">跨页选中数据</a></li>
					      </ul>
			    		</div>
					</div>
					 <button type="button" class="btn btn-default btn-xs" onclick="revelanceRoles()"><i class="fa"></i>关联用户</button>
				 	<!-- <a class="btn btn-default  btn-xs" onclick="addTemplateCatlate()"  id="addFun"><i class="fa fa-plus"></i> 新增</a>
					<a class="btn btn-default  btn-xs" onclick="updateTemplateCatlate()" id="editFun">修改</a>  -->

					 <button type="button" class="btn btn-default btn-xs" onclick="showEmployee()"><i class="fa"></i>关联雇员</button>
					<!-- /.box-tools -->
				</div>
				<!-- /.box-header -->
				<div class="box-body">
					<div class="form-horizontal clearfix">
	                    <div class=" col-sm-8 input-group">
	                          <input type="text" placeholder="请输入关键字" id ="searchValue"  name = "searchValue" class="input-sm form-control">
	                          <span class="input-group-btn"><button type="button" class="btn btn-sm btn-primary" onclick="queryTemplateCatlate()"><i class="fa fa-search"></i> 搜索</button> </span>
	                    </div>
	                </div>
					<table id="templateTable" class="table table-striped table-bordered table-hover">
						<thead>
							<tr>
								<th style="width: 15px"><input type="checkbox" id="checkAll" class="regular-checkbox" onclick="com.leanway.dataTableCheckAll('templateTable', 'checkAll', 'checkList');"><label for="checkAll"></label></th>
								<th>模版名称</th>
								<th>模版类型</th>
								<th>版本</th>
								<th>预览</th>
							</tr>
						</thead>
						<tbody>
						</tbody>
					</table>

				</div>
				<!-- /.box-body -->
			</div>
			<!-- /.box -->
		</div>

		<div class="col-sm-6">

			 	<div class="box box-primary">
			 		<div class="box-header with-border">
						<h3 class="box-title">模版详情</h3>&nbsp;
						<button class="btn btn-default  btn-xs" type="button" id="saveOrUpdate" onclick="saveTemplate()"> <i class="fa fa-floppy-o"></i> 保存</button>
					</div>
			 	</div>

				<div class="box-body">
					<div class="col-sm-12">
					 	<form class="form-horizontal" id="templateForm">
					 		<input type="hidden" id="catlateid" name="catlateid">
			 				<div class="form-group">
								<label class="col-sm-2 control-label" for="templatename">模版名称</label>
								<div class="col-sm-4">
									<input class="form-control" id="templatename" name="templatename"  placeholder="模版名称" />
								</div>

								<label class="col-sm-2 control-label" for="version">版本</label>
								<div class="col-sm-4">
									<input class="form-control" id="version" name="version"  placeholder="模版名称" />
								</div>
							</div>

			 				<div class="form-group">
								<label class="col-sm-2 control-label" for="type">模版类型</label>
								<div class="col-sm-4">
									<select class="form-control" id="type" name= "type">

									</select>

								</div>

								<label class="col-sm-2 control-label" for="url">模版地址</label>
								<div class="col-sm-4">
									<input class="form-control" id="url" name="url"  placeholder="模版地址" readonly="readonly"/>
								</div>
							</div>

							<div class="col-sm-12">
								<div id="templateUploadDiv">
									<button type="button" class="fileUpload btn btn-primary btn-xs" onclick="selectFile('path')"><li class="fa fa-folder-open">&nbsp;选择模版</li></button>
									<span id="fullFileName">未选择文件</span>
									<span id="fileMsg" style="color: red"></span>
<!-- 										<span id="workCenterId" type="button" class="btn btn-danger btn-xs" onclick="uploadFunc('path');"><li class="fa fa-upload">&nbsp;上传</li></span>
 -->
									<input type="file" id="path" name="path" style="height: 0px; width: 0px;">
								</div>
							</div>

						 </form>
					</div>
				</div>

		</div>

	</section>

	<div class="modal fade" id="tipModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-sm">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title" id="myModalLabel">提示</h4>
				</div>
				<div class="modal-body" id="tips"></div>
				<div class="modal-footer" id="sure"></div>
			</div>
		</div>
	</div>
	<!-- 角色 -->
	<div class="modal fade" id="rolesModal"  role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog style="width:1000px">
			<div class="modal-content">
				<div class="modal-header">
				<!-- treetable -->
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title" id="myModalLabel"></h4>
					<div class="btn-group">
			      		<button aria-expanded="false" aria-haspopup="true" data-toggle="dropdown" class="btn btn-default btn-xs dropdown-toggle" type="button" id="deleteFun"><i class="fa fa-times"></i> 解除关联 <span class="caret"></span></button>
			     			<ul class="dropdown-menu">
						        <li><a onclick="cansoleUserRelevence(1)" id="cansoleUserRelevence">当页选中数据</a></li>
			      			    <li><a onclick="cansoleUserRelevence(2)" id="cansoleUserRelevenceByPage">跨页选中数据</a></li>
			      			    <li><a onclick="cansoleUserRelevence(3)" id="cansoleUserRelevenceAll">所有用户</a></li>
					      </ul>
			    		</div>
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
				</div>
				<div class="modal-body">
				<div class="box-body">
				  <div class="col-sm-4">
				 	 <ul id="rollTree" class="ztree"></ul>
				  </div>
			   <div class="col-sm-8">
				 <table id="userTable"
				 class="table table-striped table-bordered ">
			    	<thead>
					 <tr>
						<th style="width: 15px"><input type="checkbox" id="checkUserAll"
							class="regular-checkbox"
							onclick="com.leanway.dataTableCheckAll('userTable', 'checkUserAll', 'checkUserList');"><label
							for="checkUserAll"></label></th>
						<th>用户名</th>
						<th>公司名称</th>
					</tr>
				   </thead>
				  <tbody>
				  </tbody>
			</table>
			</div>
			</div>
			</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default"  id="modalClose" data-dismiss="modal">关闭</button>
		           		<button type="button" class="btn btn-primary"  id="saveRelevance"  onclick="saveRelevance()">保存</button>
					</div>
				</div>
			</div>
		</div>




























































































































	<!-- employee -->
<div>
  <div class="row">
     <div class="col-sm-12" >
		 <div class="modal fade bs-example-modal-lg" id="employeeModal"
			tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
			aria-hidden="true">
			<div class="modal-dialog modal-lg">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal"
							aria-hidden="true">&times;</button>
					</div>
					<div class="modal-body">
						<div class="col-sm-3" >
							<div class="box box-primary">
									<div class="box-header with-border">
										<h4 class="modal-title" id="myModalLabel">部门列表</h4>
									</div>
									<div class="box-body">
					                	<div class="ztree-wrap">
											<ul id="treeBom" class="ztree"></ul>
										</div>
									</div>
									<div class="overlay" id="mask" hidden="">
					                	<i class="fa fa-refresh fa-spin"></i>
					            	</div>
							</div>
						</div>
						<div class="col-sm-9" >
							<div class="box box-primary">
								<div class="box-header with-border">
									<h3 class="box-title">雇员列表</h3>
								</div>
								<!-- /.box-header -->
								<div class="box-body">
									<div class="form-horizontal clearfix">
					                    <div class=" col-sm-8 input-group">
					                          <input type="text" placeholder="请输入关键字" id ="searchEmployee"  name = "searchEmployee" class="input-sm form-control">
					                          <span class="input-group-btn"><button type="button" class="btn btn-sm btn-primary" onclick="searchEmployee()"><i class="fa fa-search"></i> 搜索</button> </span>
					                    </div>
					                </div>
									<table id="employeeTable" class="table table-striped table-bordered table-hover" >
										<thead>
											<tr>
												<th style="width: 15px"><input type="checkbox" id="checkAllEmployee" class="regular-checkbox" onclick="com.leanway.dataTableCheckAll('employeeTable', 'checkAllEmployee', 'checkEmployeeList');"><label for="checkAllEmployee"></label></th>
												<th>姓名</th>
												<th>联系电话</th>
											</tr>
										</thead>
										<tbody>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" id="modalClose"
							data-dismiss="modal">关闭</button>
						<button type="button" class="btn btn-primary"
							onclick="associateEmployee()">关联雇员</button>
					</div>
	   			 </div>
			  </div>
			</div>
		</div>
		</div>
	</div>
</div>

</body>
<!-- jQuery 2.1.4 -->
<script src="../../../jslib/jQuery/jQuery-2.1.4.min.js"></script>
<!-- Bootstrap 3.3.5 -->
<script src="../../../jslib/bootstrap/js/bootstrap.min.js"></script>
<!-- FastClick -->
<script src="../../../jslib/fastclick/fastclick.js"></script>
<!-- AdminLTE App -->
<script src="../../../jslib/adminlte/js/app.min.js"></script>
<!-- InputMask -->
<!-- <script type="text/javascript" src="../productionorder/forOrder.js"></script> -->
<script type="text/javascript" src="../../../jslib/leanway/jn_common.js"></script>
<!-- DataTables -->
<script src="../../../jslib/datatables/jquery.dataTables.js"></script>
<script src="../../../jslib/datatables/dataTables.bootstrap.js"></script>
<script type="text/javascript" src="templatecatlate.js"></script>
<!-- ztree -->
	<script src="../../../jslib/zTree/js/jquery.ztree.all-3.5.min.js"></script>
	<script src="../../../jslib/select2/select2.full.min.js"/>
<!-- 为tree grade 自定义的的分页-->
<script src="../../../jslib/leanway/easypage.js"></script>
<script type="text/javascript" src="../../../jslib/zTree/js/jquery.ztree.exedit-3.5.js"></script>
</html>